* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

.language-selector {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  max-width: 160px;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  background-color: #414141;
  border-bottom-left-radius: 15px;
}

.language-selector svg {
  color: #FFFFFF;
}

.select-wrapper {
  position: relative;
  width: 160px;
}

.language-selector select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: #FFFFFF;
  padding: 8px 30px 8px 10px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 3px;
  outline: none;
  background-color: #414141;
  transition: border-color 0.3s ease;
}

.language-selector select:focus {
  border-color: #888;
}

.custom-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 14px;
  pointer-events: none;
}

.language-selector select option {
  background-color: #414141;
  color: #fff;
}

.language-selector select option:checked {
  background-color: #565656;
}

main {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 80%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 1.6rem;
  color: #414141;
}

form p {
  font-weight: 300;
}

.input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 300;
}

.input-group input,
.input-group select {
  width: 100%;
  outline: none;
  background-color: #CCCCCC;
  padding: 0.6rem;
  font-weight: 700;
  color: #414141;
}

form input[type="submit"] {
  width: 100%;
  background-color: #414141;
  padding: 0.6rem;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 700;
}

.page-form img {
  max-width: 140px;
}

hr {
  border: 1px solid #CCCCCC;
  margin-bottom: 1.5rem;
}

.hidden {
  display: none;
}

.timer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.timer img {
  max-width: 280px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 280px;
  min-width: 280px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.control-buttons a {
  border-radius: 20px;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
  background-color: #00000008;
  font-size: 40px;
  font-weight: 700;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}